/*--------------------------------------------------------------
## Base Layout
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

html, body {
	@include font-smoothing(antialiased);
    min-height: 100vh; /* 100% od viewport height */
    // overflow: hidden; /* Opciono, spreÄava skrol van viewport-a */

    @media (orientation: landscape) {
        overflow-y: hidden;
    }
}

html {
    box-sizing: border-box;

    @include mq($md) {
        html:not(.has-scroll-smooth) body:not(.to-post) .project__main__text {
            padding: 132px 18px 48px;
        }
    }

    @media (orientation: landscape) {
        html:not(.has-scroll-smooth) .project__post .scroll__container {
            height: 100%;
            display: inline-block;
            position: relative;
            white-space: nowrap;
        }

        html:not(.has-scroll-smooth) .project__post .scroll__container > section {
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            height: 100%;
        }
    }
}


body {
	transition: 1000ms ease;
	font-family: 'ivypresto-headline', serif;
	font-weight: 300;
	font-style: normal;
	max-width: 100%;
	width: 100%;
	height: 100%;
	overscroll-behavior: none;

	@include mq($lg) {
		overflow: auto;
        overflow-x: hidden;
	}
}

.site-main {
	opacity: 0;
}

.home {

   background-color: $nero;
}

a {
	pointer-events: auto;
}

.no-click {
	pointer-events: none;
}

br {
	@include mq($lg) {
		display: none;
	}
}


.content-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99; 
    opacity: 0; 
    transition: $dur $ease;
}

@media screen and (orientation: landscape) and (max-width: 767px) {
    .landscape-blocker {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: 1000;
        font-size: 20px;
        color: $black;
        text-align: center;
    }
}

.section-head__title {
    font-size: 10.2vh;
    color: $black;
    transform: translateY(50%);
    display: inline-block;
    line-height: 1;

    @include mq($lg) {
        font-size: 65px;
    }

    @include mq($md) {
        font-size: 52px;
    }
}
  
.banner__content-subtitle {
    column-count: 1;
    column-gap: 24px;
}
  
.section-head__subtitle {
    font-size: 2.2vh;
    line-height: 1.23;
    margin-right: 0;
    font-family: $font-main;
    margin-bottom: 30px;
    opacity: 0;
    white-space: normal;
    max-width: 40vw;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include mq($lg) {
        font-size: 2.3vw;
        line-height: 1.3;
        max-width: 100%;
    }

    @include mq($md) {
        font-size: 4.3vw;
    }
}
  
.section-head__subtitle--xl {
    max-width: 100%;
}


.post-type-archive-muskarac {
    .index-card__container {
       &:nth-of-type(2) {
        opacity: 0.5;

        a {
            pointer-events: none;
            h2 {
                display: none;
            }
        }
       }
    }
}

