@font-face {
	font-family: "fonticons";
	src: url('assets/icons/fonticons.woff2') format('woff2'), url('assets/icons/fonticons.woff') format('woff'), url('assets/icons/fonticons.ttf') format('truetype');;
}

@mixin font-styles {
	font-family: "fonticons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == arrow-right {
		$char: "\E001";
	}
	@if $filename == arrow {
		$char: "\E002";
	}
	@if $filename == back {
		$char: "\E003";
	}
	@if $filename == call {
		$char: "\E004";
	}
	@if $filename == gallery {
		$char: "\E005";
	}
	@if $filename == mail {
		$char: "\E006";
	}
	@if $filename == search {
		$char: "\E007";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-arrow-right {
	@include font(arrow-right);
}
.font-arrow {
	@include font(arrow);
}
.font-back {
	@include font(back);
}
.font-call {
	@include font(call);
}
.font-gallery {
	@include font(gallery);
}
.font-mail {
	@include font(mail);
}
.font-search {
	@include font(search);
}

