/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts

$font-main: 'Gilroy';

// Colors
$white: #fff;
$black: #000;

$dark: #25282a;
$nero: #201f1f;
$light: #f6f5f5;
$white-lilac: #f5eafa;
$alice-blue: #eff7ff;
$seashell: #faf3ed;

// Transitions
$dur: 350ms;
$ease: ease;

// Breakpoints
$phone: 767;
$tablet: 1024;
$tablet-l: 1199;
$lap-small: 1300;
$lap-large: 1450;

