.main-section {
    display: flex;
    position: relative;
    height: 100vh;
    overflow-y: hidden;

    @include mq($tablet-xs) {
        flex-direction: column;
        height: 50vh;
        overflow-y: inherit;
    }

    @include mq($phone) {
        grid-gap: 15px;
    }
}

.main-section__left-img {
    transform: translateX(-50px);
    opacity: 0.2;

    img {
        width: 100% !important;
    }
}

.main-section__left {
    flex: 0 0 35%;
    max-width: 35%;
    z-index: 999;

    img {
        overflow: hidden;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 800ms $ease;
        height: 100vh;
        width: 35%;

        &.active {
            opacity: 1;
        }
    }

    @include mq($tablet-xs) {
        flex: 0 0 100%;
        max-width: 100%;

        img {
            width: 100%;
            height: 46vh;
            object-fit: cover;
        }
    }

    @include mq($phone) {
        img {
            height: 50vh;
        }
    }
}

.main-section__right-list {
    padding-top: 70px;
    .list {
        width: fit-content;

        .tab_link {
            font-size: unquote('clamp(2rem, 1.375rem + 3.3333vw, 5.375rem)');
            line-height: 1.2;
            letter-spacing: 0.025em;
            opacity: 0;
            transition: 600ms ease-in-out;
            position: relative;
            display: block;
            visibility: hidden;
            // transform: translateY(-10px);

            &:hover {
                opacity: 0.4;
            }

            &.active {
                opacity: 1 !important;
            }
        }
    }

    @include mq($tablet-xs) {
        padding-top: 0;

        .list {
            padding-bottom: 20px;
        }
    }

    @include mq($phone) {
        margin-bottom: 10px;
        .list {
            padding-bottom: 10px;
        }
    }
}

.main-section__right {
    flex: 0 0 65%;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 100px;
    position: relative;

    @include mq($tablet-xs) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: initial;
        padding: 0 20px;
        justify-content: center;
    }

    @include mq($phone) {
        display: block;
        padding: 0 15px;
    }
}

.main-section__right-bottom-text {
    font-size: unquote('clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem)');
    line-height: 1.3;
    max-width: 400px;
    opacity: 0.8;
    font-family: 'Switzer-Light';
    font-weight: 300;
    font-style: normal;
    padding-bottom: 15px;
    // transform: translateY(30px);
}

.main-section__right-submenu {
    position: absolute;
    left: 60%;
    top: 28%;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: 600ms ease-in-out;

    li {
        a {
            font-size: unquote('clamp(1rem, 0.725rem + 1.375vw, 2.375rem)');
            color: $nero;
            display: block;
            opacity: 0;
            transition: $dur $ease;

            &::after {
                @include font-styles;
                content: font-char(arrow);
                margin-left: 11px;
                font-size: 22px;
                transition: $dur $ease;
                display: inline-block;
            }

            &:hover,
            &::after {
                transform: translateX(5px) !important;
            }
        }
    }

    @include mq($tablet-xs) {
        li {
            padding-bottom: 7px;
            a {
                &::after {
                    font-size: 14px;
                }
            }
        }
    }

    @include mq($phone) {
        top: 10%;
        left: 50%;

        li {
            padding-bottom: 4px;
            a {
                &::after {
                    font-size: 12px;
                    margin-left: 0;
                }
            }
        }
    }
}

.sub-active {
    opacity: 1 ;
    visibility: visible;
    transform: translateY(0);
}