/*--------------------------------------------------------------
## Base Layout
--------------------------------------------------------------*/
* {
	box-sizing: border-box;
}

html, body {
	@include font-smoothing(antialiased);
	height: 100%;
}

html {
	box-sizing: border-box;
}

body {
	transition: 1000ms ease;
	font-family: 'ivypresto-headline', serif;
	font-weight: 300;
	font-style: normal;
}

.home {
	background-color: $white-lilac;
}